* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: silver;
  /* padding: 1em;*/
  /*   padding-top: 1em;*/
  text-align: center;
  font-size: 25px;
  color: white;
  font-family: courier;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 5%;
   background-color: silver;
   color: white;
   text-align: center;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 30%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  border-style: groove;
  border-width: thick;
  border-color: gray;
  padding: 5px;
  float: center;
}

im1 {

  padding-left: 4em;

}
im2 {

  padding-left: 4em;

}

p1 {

  font-family: times;
}
p2 {

  font-family: times;
}
p3 {

  font-family: times;
}
p4 {

  font-family: times;
}

h5 {

  font-family: courier;
  font-size: 30px;
}

h3 {

  font-family: courier;
  font-size: 20px;
}
h4 {

  font-family: courier;
  font-size: 20px;
}
