* {
  box-sizing: border-box;
}

body {
  font-family: Courier, Times, serif;
  margin: 0;
}

/* Style the header */
header {
  background-color: #9f9f9f;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

h1, h2, h3 {
  margin: 0;
  padding: 1%;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the side navigation menu */
aside {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: Thistle;
  padding: 20px;
  font-family: courier;
}

/* Style the upper navigation menu as in dinnerStatusView */
nav {
  /*float: left;*/
  width: 100%;
  height: 10%;
  background: #ccc;
  padding: 5px;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: white;
  padding: 10px;
}

/*giving images borders*/
img {
  border-style: groove;
  border-width: thick;
  border-color: gray;
  /*padding: 1px;*/
  float: center;
}

/* Labels, such as output, style */
label {
  padding-top: 5%;
  padding-bottom: 5%;
}

/* Style home page text paragraph and button positioning */
#homepagesection {
  padding: 15%;
  width: 100%;
  text-align: center;
}

/* Style home page text paragraphg */
#homepageparagraph {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 10%;
}

/* Positioning of button in dinnerStatusView.js */
#buttonplacement {
  margin-left: auto;
  padding: 1%;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Column class style*/
.column {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
}

/* Plus/minus button */
.btn {
  background-color: MediumOrchid;
  border: 2px solid black;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
}

/* Buttons with text */
.button {
  background-color: purple;
  border: 2px solid black;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
}

.vl {
  border-left: 2px solid black;
  height: 150px;
  position: absolute;
  left: 70%;
  margin-left: -3px;
  top: 10;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
